a {
  background: none;
  border-bottom: 1px solid;
  color: $blue;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
  &:hover {
    color: $blue;
  }
}
.btn {
  color: $blue;
  cursor: pointer;
  display: block;
  font-family: $fontButton;
  font-size: 1em;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  box-shadow: none;
  &:hover {
    text-decoration: none;
    color: $blue;
    box-shadow: none;
  }
}
.btn-1 {
  font-weight: 100;
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  rect {
    fill: none;
    stroke: $blue;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}
.btn-1:hover {
  background: none;
  font-weight: 900;
  letter-spacing: 1px;
  color: $blue;
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);

  }
}
.btn.active, .btn:active{
  box-shadow: none;
}
.btn-2{
  width: 70px;
  height: 45px;
  background-color: rgba(255,255,255,0.5);
  border: none;
}
