//Colors
$whiteFont: #fff;
$blue: #00e0d0;
$color_bg: #352b59;
$colorIcon: #24c2ce;
$colorBorder: #757389;
$colorText: #fafafa;
//Fonts
$fontCapture: 'Conv_PlayfairDisplay-Black';
$fontMenu: 'Conv_Roboto-Black';
$fontMainText: 'Conv_Roboto-Light';
$fontButton: 'Conv_HammersmithOne';
$fontBold: 'Conv_PlayfairDisplayBold';
$screen-small: 768px;
$screen-medium: 992px;
$screen-larger: 1200px;
