h1{
  font-family: $fontCapture;
  font-size: 2em;
}
.mainFont{
  font-family: $fontMainText;
  font-size: 0.875em;
}
h2{
  font-family: $fontBold;
  font-size: 1.375em;
}
h3{
  font-family: $fontMenu;
  font-size:0.875em;
}