h1{
  font-family: $fontCapture;
  font-size: 2em;
}
.mainFont{
  font-family: $fontMainText;
  font-size: 0.875em;
  line-height: 1.5em;
}
h2{
  font-family: $fontBold;
  font-size: 1.375em;
}
h3{
  font-family: $fontMenu;
  font-size:0.875em;
}
.topic{
  font-family: $fontMainText;
  font-size: 1em;
  margin-top: 15px;
}