.footer-box{
  background: url("/public/images/bg_footer.png");
  color: $whiteFont;
  .social-icon {
    %common{
      font-family: 'icomoon';
      color: $whiteFont;
      font-size: 35px;
    }
    .Facebook:before {
      @extend %common;
      content: "\e906";
    }
    .Twitter:before{
      @extend %common;
      content: "\e90b";
    }
    .YouTube:before {
      @extend %common;
      content: "\e907";
    }
    .google_plus:before {
      @extend %common;
      content: "\e908";
    }
    .instagram:before {
      @extend %common;
      content: "\e909";
    }
    .Dribbble:before {
      @extend %common;
      content: "\e90a";
    }
  }
}