.footer-box{
  background: url("/public/images/bg_footer.png");
  color: $whiteFont;
  .box-text{
    font-family: $fontMainText;
    font-size: 0.875em;
    line-height: 1.625em;
    margin-top: 16px;
  }
  .box-contact h3{
    margin: 17px 0 38px;
  }
  .box-contact{
    .form-inline{
      .form-group {

        .form-control {
          width: 211px;
          height: 45px;
          background: none;
          border-radius: 0;
        }
      }
    }
  }
  .social-icon{
    margin-top: 28px;
    %common{
      font-family: 'icomoon';
      color: $whiteFont;
      font-size: 35px;
      &:hover{
        color: $colorIcon;
      }
    }
    .Facebook:before {
      @extend %common;
      content: "\e906";
    }
    .Twitter:before{
      @extend %common;
      content: "\e90b";
    }
    .YouTube:before {
      @extend %common;
      content: "\e907";
    }
    .google_plus:before {
      @extend %common;
      content: "\e908";
    }
    .instagram:before {
      @extend %common;
      content: "\e909";
    }
    .Dribbble:before {
      @extend %common;
      content: "\e90a";
    }
    a{
      text-decoration: none;
    }
  }

}
