.header{
  background: url(/public/images/bg_header.png);
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  .dropdown-menu {
    background-color: $color_bg;
    &-item {
      font-family: $fontMenu;
      font-size: 0.875em;
      color: $whiteFont;
      padding: 20px 0 0 15px;
      &:hover {
        color: $colorActive;
      }
    }
  }
  .nav-pills li{
    font-family: $fontMenu;
    font-size: 0.8125em;
  }
  .nav-pills a{
    padding: 10px 12px;
  }
  .nav-pills>li.active>a{
    background: none;
    color: $colorActive;
  }
}
#carousel-example{
  .carousel-control{
    width: 25%;
  }
  .carousel-control.right{
    background-image: none;
  }
  .carousel-control.left{
    background-image: none;
  }
  .carousel-content{
    color: $whiteFont;
    h1{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        width: 70px;
        height: 1px;
        margin-right: auto;
        margin-left: auto;
        background: $colorActive;
      }
    }
    .mainFont{
      margin: 50px 0 54px;
    }
  }
  .carousel-indicators .active{
    background-color: $colorActive;
  }
  .carousel-indicators{
    bottom: -30px;
  }
}
