.story-block{
    .mainFont {
      margin: 30px 0 30px;
    }
  }
.story-video {
    background-image: url(/public/images/video_bg.png);
    background-size: cover;
    -moz-background-size: cover; /* Firefox 3.6 */
    background-position: center; /* Internet Explorer 7/8 */
}

