.team{
  background: url("/public/images/team_bg.png");
  background-size: cover;
  -moz-background-size: cover;  /* Firefox 3.6 */
  background-position: center;  /* Internet Explorer 7/8 */
  color: $whiteFont;
    .team-caption{
      color: $whiteFont;
    }
}