.works {
  .works-box{
    text-align: center;
    .works-photo{
      margin-bottom: 70px;
      .row {
        .image-container {
          padding: 0;
          margin: 0;
          position: relative;
          display: inline-block;
          img{
            margin: 0;
            padding: 0;
          }
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $colorActive;
      }
      .image-container:hover .overlay {
        opacity: 0.6;
      }
      .text {
        color: $whiteFont;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 155px;
        text-transform: uppercase;
        .text-header{
          font-family: $fontBold;
          font-size: 1.25em;
          padding-bottom: 17px;
        }
        p{
          font-family: $fontMainText;
          font-size: 1em;
        }
      }
    }
    .mainFont {
      position: relative;
      color: #000;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 13px;
        top: 2px;
        right: -12px;
        background-image: url("/public/images/arrow.png");
      }
    }
    .btn-1{
      margin-bottom: 70px;
    }
  }
}